@charset "utf-8";

/* 共通部分 */
h1 {
    font-size: 60px;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

dt {
    font-size: 24px;
    margin-bottom: 20px;
}

dd {
    font-size: 24px;
    margin-bottom: 20px;
}

#myForm {
    margin: 50px auto;
    width: 1000px;
}

/* post.php */
.onegai {
    font-size: 24px;
    text-align: center;
    color: orange;
}

dd input {
    font-size: 24px;
    width: 400px;
}

#a_gata, #b_gata, #ikou, #other {
    width: 30px;
}

#errorMessage1, #result, #errorMessage2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: green;
}

#submit {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 24px;
    background-color: aqua;
    color: #222222;
}

/* write.php */
ul {
    margin: 30px auto;
    text-align: center;
}

ul li {
    font-size: 24px;
    padding: 10px;
}

/* kanri.php */
table {
    width: 95%;
    border-collapse:  collapse; /* セルの線を重ねる */
}

th,td {
    border: solid 1px;
    padding: 5px 15px 5px 15px;
}

th {
    background-color: lightblue;
}

td {
    white-space: nowrap;
  }